### MongoDB in Python

In [ ]:
#!pip install pymongo

In [2]:
# import mongo liberary
import pymongo

In [3]:
#create a database
conn = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = conn["mytest"] #database name

In [8]:
#print(dir(mydb))

In [9]:
#To see the name of DB
mydb.name

'mytest'

### A collection in MongoDB is the same as a table in SQL databases.

In [10]:
#creat a collection
mycol = mydb["customers"]
mycol.name

'customers'

In [ ]:
type(mycol)

In [14]:
#insert record
mydict = { "first_name": "ABC", "last_name": "xyz" }

x = mycol.insert_one(mydict)

In [15]:
print(x.inserted_id)
type(x)

60d46966c10670f9208575d0

pymongo.results.InsertOneResult

In [16]:
#inserting multiple records

mylist = [
  { "first_name": "Amy", "last_name": "ABC"},
  { "first_name": "Karen", "last_name": "Lee"},
  { "first_name": "Irfan", "last_name": "Ilyas"},
  { "name": "Sandy", "address": "Ocean blvd 2"}
]

x = mycol.insert_many(mylist)

In [17]:
print(x.inserted_ids)

[ObjectId('60d46967c10670f9208575d1'), ObjectId('60d46967c10670f9208575d2'), ObjectId('60d46967c10670f9208575d3'), ObjectId('60d46967c10670f9208575d4')]


#### In MongoDB we use the find and findOne methods to find data in a collection.

Just like the SELECT statement is used to find data in a table in a MySQL database.

In [19]:
#displaying single record
x = mycol.find_one()

print(x)

{'_id': ObjectId('60d468a7c10670f9208575cb'), 'first_name': 'ABC', 'last_name': 'xyz'}

In [20]:
#displaying Multipe record
reco=mycol.find()
#for x in mycol.find():
for x in reco:
    print(x)

{'_id': ObjectId('60d468a7c10670f9208575cb'), 'first_name': 'ABC', 'last_name': 'xyz'}
{'_id': ObjectId('60d46902c10670f9208575cc'), 'first_name': 'Amy', 'last_name': 'ABC'}
{'_id': ObjectId('60d46902c10670f9208575cd'), 'first_name': 'Karen', 'last_name': 'Lee'}
{'_id': ObjectId('60d46902c10670f9208575ce'), 'first_name': 'Irfan', 'last_name': 'Ilyas'}
{'_id': ObjectId('60d46902c10670f9208575cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60d46966c10670f9208575d0'), 'first_name': 'ABC', 'last_name': 'xyz'}
{'_id': ObjectId('60d46967c10670f9208575d1'), 'first_name': 'Amy', 'last_name': 'ABC'}
{'_id': ObjectId('60d46967c10670f9208575d2'), 'first_name': 'Karen', 'last_name': 'Lee'}
{'_id': ObjectId('60d46967c10670f9208575d3'), 'first_name': 'Irfan', 'last_name': 'Ilyas'}
{'_id': ObjectId('60d46967c10670f9208575d4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

In [ ]:
#Query

myquery = { "first_name": "Irfan" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

In [ ]:
#delete a document
mycol.delete_one(myquery)

In [ ]:
#print nothing as record is deleted
for x in mydoc:
    print(x)

##### https://www.w3schools.com/python/python_mongodb_getstarted.asp